[submodule "nginx/nginx-ultimate-bad-bot-blocker"]
	path = nginx/nginx-ultimate-bad-bot-blocker
	url = https://github.com/mitchellkrogza/nginx-ultimate-bad-bot-blocker.git
[submodule "nginx/server-configs-nginx"]
	path = nginx/server-configs-nginx
	url = https://github.com/h5bp/server-configs-nginx.git
