dist: xenial
sudo: required

python:
  - 3.7

language:
  - python

services:
  - docker

env:
  DOCKER_COMPOSE_VERSION: 1.23.2

#addons:
#  apt:
#    packages:
#      - docker-ce

#before_install:
#  - docker run -d kennethreitz/pipenv -c ""
#  - sudo apt-get update && sudo apt-get install -y python3 python3-pip python3-dev
#  - sudo pip3 install pipenv
#  - pipenv install
#  - docker build -t alphageek/oneliner.sh .
#  - docker tag oneliner.sh:latest alphageek/oneliner.sh

#deploy:
#  provider: script
#  script: bash deploy/docker_push
#  on:
#    branch: master

install: true

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - docker-compose up -d
  - docker ps
