version: '3'
services:
  redis:
    image: redis:latest
    container_name: redis
    command: --appendonly yes
    restart: always
    ports:
      - '6379'
    networks:
      - oneliner
    volumes:
      - './redis:/data'
  api:
    build: .
#    image: alphageek/oneliner.sh:latest
    container_name: oneliner
    environment:
      REDIS_HOST: 'redis'
    ports:
      - '8080'
    networks:
      - oneliner
  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - '80:80'
      - '443:443'
    environment:
      HOST_NAME: 'oneliner.sh'
      APP_PORT: '8080'
    volumes:
      - certs:/etc/letsencrypt
    networks:
      - oneliner
#  openresty:
#    image: openresty:latest
#    container_name: openresty
#    ports:
#      - '8080'
#    volumes:
#      - certs:/etc/letsencrypt
#    networks:
#      - oneliner

volumes:
  certs:
networks:
  oneliner:
