<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Oneliner.sh</title>
	<meta name="description" content="Become a oneliner samurai">
	<meta name="author" content="Benjamin Perove">
	<link rel="stylesheet" href="css/styles.css?v=1.0">
	<script src="https://code.jquery.com/jquery-4.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal@0.x.x/js/jquery.terminal.min.js"></script>
	<link href="https://unpkg.com/jquery.terminal@0.x.x/css/jquery.terminal.min.css"/>

<script>
$(function() {
   $('#terminal').terminal();
});
</script>

</head>
<body>

<div id="terminal">
</div>

</body>
</html>
